@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
  box-sizing: border-box;
}

body{
  background-image: url('../images/background-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 80vh;
  font-family: 'Poppins', sans-serif;
  margin:0;
}
h1{
  font-weight: normal;
  font-size: 2.5rem;
}
.countdown-container{
  display:flex;
  justify-content: center;
}
.big-Text{
  font-size: 6rem;
  margin: 0 2rem;
  font-weight: bold;
}
.countdown-tile{
  text-align: center;
}

.countdown-tile span{

}
